<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBIuAROBn3oEFY8B1avDOi0-zZd85UKzVI</string>
	<key>GCM_SENDER_ID</key>
	<string>949510113189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.garden</string>
	<key>PROJECT_ID</key>
	<string>gardensense-cfe37</string>
	<key>STORAGE_BUCKET</key>
	<string>gardensense-cfe37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949510113189:ios:4dbf9d870fa86fcb2c4a4c</string>
	<key>DATABASE_URL</key>
	<string>https://gardensense-cfe37-default-rtdb.firebaseio.com</string>
</dict>
</plist>